name: Close Jira Issue

on:
  issues:
    types: [closed]

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Jira
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Find Jira Issue Key
        id: find
        uses: atlassian/gajira-find-issue-key@master
        with:
          string: "${{ github.event.issue.title }}" 
          # 제목이 "[CPG-101] 제목"으로 바뀌어 있으므로 여기서 키를 찾습니다.

      - name: Transition Jira Issue to Done
        uses: atlassian/gajira-transition@master
        with:
          issue: ${{ steps.find.outputs.issue }}
          transition:  "완료"
          # [중요] 지라 보드에서 완료 버튼 이름이면 "완료"라고 적어야 합니다.
