name: Create Jira Issue

on:
  issues:
    types: [opened]

jobs:
  create-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write 

    steps:
      - name: Login to Jira
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

       # 마크다운 -> Jira 변경
    - name: Convert markdown to Jira Syntax
      uses: peter-evans/jira2md@v1
      id: md2jira
      with:
        input-text: |
          ## Summary 
          ${{ steps.issue-parser.outputs.issueparser_description }}
          
          ## Description
          ${{ steps.issue-parser.outputs.issueparser_details }}
          
          ## Reference
          ${{ steps.issue-parser.outputs.issueparser_references }}
          
          ## Github Issue Link
          ${{ github.event.issue.html_url }}
          
          
        mode: md2jira
        
      - name: Create Jira Issue
        id: create
        uses: atlassian/gajira-create@master
        with:
          project: "CPG"     # [확인] 본인 프로젝트 키
          issuetype: "Task"  # [확인] 본인 이슈 타입
          summary: "${{ github.event.issue.title }}"
          description: "${{ steps.md2jira.outputs.output-text }}"
        
      - name: Update GitHub Issue Title
        uses: actions/github-script@v6
        env:
          TICKET_KEY: ${{ steps.create.outputs.issue }}
        with:
          script: |
            const ticketKey = process.env.TICKET_KEY;
            const originalTitle = context.payload.issue.title;
            
            // 제목 업데이트
            await github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              title: `[${ticketKey}] ${originalTitle}`
            });
      # Jira 이슈 생성자 로그
    - name: Log created issue
      run: echo "Issue ${{ github.actor }} was created"
      
      - name: Add Comment
        uses: actions/github-script@v6
        env:
          TICKET_KEY: ${{ steps.create.outputs.issue }}
          JIRA_DOMAIN: ${{ secrets.JIRA_BASE_URL }}
        with:
          script: |
            const ticketKey = process.env.TICKET_KEY;
            const domain = process.env.JIRA_DOMAIN;
            
            // 댓글 생성
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: `✅ **Jira Issue Created**: [${ticketKey}](${domain}/browse/${ticketKey})`
            });
